@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
}

#main {
    width: 600px;
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 5px 5px 10px hsl(0, 0%, 80%);
    transition: 0.3s;
}

#main:hover {
    scale: 1.01;
    box-shadow: 5px 5px 10px hsl(158, 36%, 37%)
}

#left {
    width: 50%;
}

#left img {
    width:100%;
    height: 100%;
}

#right {
    width: 50%;
    background-color: white;
    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#top-title {
    color: hsl(228, 12%, 48%);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: Montserrat;
    font-size: 14px;
}

h1 {
    font-family: fraunces;
}

#description {
    font-size: 14px;
    font-family: montserrat;
    color: hsl(228, 12%, 48%);
}

#prices {
    display: flex;
    align-items: center;
    gap: 18px;
}

#prices p:nth-child(1) {
    font-weight: 700;
    font-size: 33px;
    color: hsl(158, 36%, 37%);
    font-family: fraunces;

}

#prices p:nth-child(2) {
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    font-size: 15.5px;
}

button {
    padding: 10px 0;
    color: white;
    background-color: hsl(158, 36%, 37%);
    border: none;
    border-radius: 7px;

    display: flex;
    justify-content: center;
    text-align: center;
    gap: 8px;

    transition: 0.3s;
    cursor: pointer;
}

button:hover {
    background-color: hsl(158, 42%, 18%);
}

